<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <h2>Ok</h2>
    <% if(data.length) { %>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i< data.length; i++) { %>
            <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].name%></td>
                <td><%= data[i].age%></td>
                <td><%= data[i].gender%></td>
            </tr>
        <% } %>
        </tbody>
      </table>
    <% } %>
  </div>
</body>
</html>